{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Test{% endblock title %}
{% block extrahead %}
{% endblock %}

{% block content %}
    <!-- about -->
    <div class="about" id="about" style="margin-top: 10%">
        <div class="container">
            <h3 class="w3l-title">毎木調査</h3>
            <p> スタートボタンを押すことで音声認識がスタートし, 樹木の「胸高周囲長、種名」等を自動認識します</p>
            <p> 例：カラマツ, 25cm </p>
            <p> 認識結果を確認し, 間違いがなければ登録ボタンを押すことで記録します </p>
            <p> 現在位置情報も同時に記録されます</p>
        </div>
    </div>
    <!-- //about -->
    <!-- record -->
    <div class="testimonials">
        <div class="container">
            <h3 class="w3l-title">記録</h3>
            <div class="sap_tabs">
                <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
                    <form role="form" method="post" action="{% url 'insert_record' %}">
                        {% csrf_token %}
                        <button id="startBtn" disabled="disabled" type="button" class="btn btn-danger">
                            Start
                        </button>
                        <button id="stopBtn" disabled="disabled" type="button" class="btn btn-dark">Stop</button>
                        <p style="color: white; text-align: left">音声認識結果 <span id="hypothesisDiv"></span></p>
                        <textarea id="phraseDiv" style="width: 100%;height:100px" name="record"
                                  required></textarea>
                        <br>
                        <p style="color: white; text-align: left;">認識状況 <span id="statusDiv"></span></p>
                        <br>
                        <p style="color: white; text-align: left">緯度<span id="latitude"></span></p>
                        <p style="color: white; text-align: left">経度<span id="longitude"></span></p>
                        <span id="getErrMag"></span>
                        <input type="hidden" name="latitude" id="latitude_v">
                        <input type="hidden" name="longitude" id="longitude_v">
                        <button type="submit" class="btn btn-danger">登録する</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- //record -->

    <!-- status -->
    <div class="special">
        <div class="container">
            <h3 class="w3l-title"> 経過 </h3>
            <div class="col-md-5 special-wthreegrids">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>樹種</th>
                            <th>直径</th>
                            <th>記録時間</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for record in records %}
                            <tr>
                                <td>{{ record.tree_species }}</td>
                                <td>{{ record.diameter }}</td>
                                <td>{{ record.created_at }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <!-- /#page-content-wrapper -->
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- //special -->
        <!-- news -->
        <div class="news" id="news">
            <div class="container">
                <h3 class="w3l-title"> 連絡事項　</h3>
                <div class="col-md-6 news-grids">
                    <div class="news-grids-right">
                        <h5>2017-10-1 12:00:51</h5>
                        <p> 降水確率 70%, 大雨の恐れあり</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-6 news-grids">
                    <div class="news-grids-right">
                        <h5>2017-10-1 10:00:51</h5>
                        <p> 部長: 昨日は雨で足場が悪いので, 特に気をつけて作業すること</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- //news -->

    <!-- Get Current Location Script -->
    <script type="text/javascript"
            src="https://maps.google.com/maps/api/js?key=AIzaSyC7vPiNQoNmlQID2URBMw5XYo29vz1Kwd4&libraries=place"></script>
    <script type="text/javascript" src="{% static 'js/current_location.js' %}"></script>
    <!-- The SDK has a dependency on requirejs (http://requirejs.org/). -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.3.3/require.min.js"></script>
    <script>
        // Special handling to let the sample work when loaded directly from file system.
        if (window.location.protocol == "file:") {
            document.write('\<script src="http://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.3/require.min.js">\<\/script>');
        }
    </script>

    <!-- SDK REFERENCE -->
    <script type="text/javascript" src="{% static 'js/speech.browser.sdk.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/recognize_speech.js' %}"></script>

    <!-- Browser Hooks -->
    <script>
        var startBtn, stopBtn, hypothesisDiv, phraseDiv, statusDiv, key, languageOptions, formatOptions;
        var SDK;
        var recognizer;

        key = "b33016693c5a4b629f182399912d4533";
        languageOptions = "ja-JP";
        formatOptions = "Simple";

        document.addEventListener("DOMContentLoaded", function () {
            createBtn = document.getElementById("createBtn");
            startBtn = document.getElementById("startBtn");
            stopBtn = document.getElementById("stopBtn");
            phraseDiv = document.getElementById("phraseDiv");
            hypothesisDiv = document.getElementById("hypothesisDiv");
            statusDiv = document.getElementById("statusDiv");

            startBtn.addEventListener("click", function () {
                if (!recognizer) {
                    Setup();
                }
                hypothesisDiv.innerHTML = "";
                phraseDiv.innerHTML = "";
                RecognizerStart(SDK, recognizer);
                startBtn.disabled = true;
                stopBtn.disabled = false;
            });

            stopBtn.addEventListener("click", function () {
                RecognizerStop(SDK);
                startBtn.disabled = false;
                stopBtn.disabled = true;
            });

            Initialize(function (speechSdk) {
                SDK = speechSdk;
                startBtn.disabled = false;
            });
        });

        function Setup() {
            recognizer = RecognizerSetup(SDK, SDK.RecognitionMode.Interactive, languageOptions, SDK.SpeechResultFormat[formatOptions.value], key);
        }

        function UpdateStatus(status) {
            statusDiv.innerHTML = status;
        }

        function UpdateRecognizedHypothesis(text) {
            hypothesisDiv.innerHTML = text;
        }

        function OnSpeechEndDetected() {
            stopBtn.disabled = true;
        }

        function UpdateRecognizedPhrase(json) {
            phraseDiv.innerHTML = JSON.parse(json)["DisplayText"];
        }

        function OnComplete() {
            startBtn.disabled = false;
            stopBtn.disabled = true;
        }
    </script>
    <script>
        cmanPosGet();
    </script>
{% endblock %}
