{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Title</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/simple-sidebar.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
</head>

<body>
<div class="container">
    <div class="row">
        <div id="wrapper">
            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav" style="margin-left:0;">
                    <li class="sidebar-brand">

                        <a href="#menu-toggle" id="menu-toggle" style="margin-top:20px;float:right;"> <i
                                class="fa fa-bars " style="font-size:20px !Important;" aria-hidden="true"
                                aria-hidden="true"></i>

                    </li>
                    <li>
                        <a href="{% url 'main_page' %}"><i class="fa fa-sort-alpha-asc " aria-hidden="true"> </i>
                            <span
                                    style="margin-left:10px;"> 調査記録 </span> </a>
                    </li>
                    <li>
                        <a href="{% url 'statistic_page' %}"> <i class="fa fa-play-circle-o "
                                                                 aria-hidden="true"> </i>
                            <span
                                    style="margin-left:10px;"> 調査状況 </span> </a>
                    </li>
                    <li>
                        <a href="{% url 'map_page' %}"> <i class="fa fa-puzzle-piece" aria-hidden="true"> </i> <span
                                style="margin-left:10px;"> 調査状況MAP </span> </a>
                    </li>
                </ul>
            </div>
            <!-- /#sidebar-wrapper -->
            <div id="page-content-wrapper" style="margin-left:20px;">
                <div class="container">
                    <form role="form" method="post" action="{% url 'insert_record' %}">
                        {% csrf_token %}
                        <p> 音声入力を開始する </p>
                        <button id="startBtn" disabled="disabled" type="button" class="btn btn-danger">
                            Start
                        </button>
                        <button id="stopBtn" disabled="disabled" type="button" class="btn btn-dark">Stop
                        </button>
                        <br>
                        入力内容: <span id="hypothesisDiv"></span>
                        <textarea id="phraseDiv" style="width:500px;height:200px" name="record"
                                  required></textarea>
                        <br>
                        状態: <span id="statusDiv"></span><br>
                        <br>
                        緯度: <span id="latitude"></span><br>
                        経度: <span id="longitude"></span><br>
                        <span id="getErrMag"></span>
                        <br>
                        <input type="hidden" name="latitude" id="latitude_v">
                        <input type="hidden" name="longitude" id="longitude_v">
                        <button type="submit" class="btn btn-danger">登録する</button>
                    </form>
                </div>
            </div>
            <div id="page-content-wrapper" style="margin-left:20px;">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>樹種</th>
                            <th>直径</th>
                            <th>記録時間</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for record in records %}
                            <tr>
                                <td>{{ record.tree_species }}</td>
                                <td>{{ record.diameter }}</td>
                                <td>{{ record.created_at }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <!-- /#page-content-wrapper -->
                </div>
            </div>
            <!-- /#wrapper -->
        </div>
    </div>
</div>
</div>
</div>

<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/side_menu.js' %}"></script>
<!-- Get Current Location Script -->
<script type="text/javascript"
        src="https://maps.google.com/maps/api/js?key=AIzaSyC7vPiNQoNmlQID2URBMw5XYo29vz1Kwd4&libraries=place"></script>
<script type="text/javascript" src="{% static 'js/current_location.js' %}"></script>
<!-- The SDK has a dependency on requirejs (http://requirejs.org/). -->
<script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.3.3/require.min.js"></script>
<script>
    // Special handling to let the sample work when loaded directly from file system.
    if (window.location.protocol == "file:") {
        document.write('\<script src="http://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.3/require.min.js">\<\/script>');
    }
</script>

<!-- SDK REFERENCE -->
<script type="text/javascript" src="{% static 'js/speech.browser.sdk.js' %}"></script>
<script type="text/javascript" src="{% static 'js/recognize_speech.js' %}"></script>

<!-- Browser Hooks -->
<script>
    var startBtn, stopBtn, hypothesisDiv, phraseDiv, statusDiv, key, languageOptions, formatOptions;
    var SDK;
    var recognizer;

    key = "b33016693c5a4b629f182399912d4533";
    languageOptions = "ja-JP";
    formatOptions = "Simple";

    document.addEventListener("DOMContentLoaded", function () {
        createBtn = document.getElementById("createBtn");
        startBtn = document.getElementById("startBtn");
        stopBtn = document.getElementById("stopBtn");
        phraseDiv = document.getElementById("phraseDiv");
        hypothesisDiv = document.getElementById("hypothesisDiv");
        statusDiv = document.getElementById("statusDiv");

        startBtn.addEventListener("click", function () {
            if (!recognizer) {
                Setup();
            }
            hypothesisDiv.innerHTML = "";
            phraseDiv.innerHTML = "";
            RecognizerStart(SDK, recognizer);
            startBtn.disabled = true;
            stopBtn.disabled = false;
        });

        stopBtn.addEventListener("click", function () {
            RecognizerStop(SDK);
            startBtn.disabled = false;
            stopBtn.disabled = true;
        });

        Initialize(function (speechSdk) {
            SDK = speechSdk;
            startBtn.disabled = false;
        });
    });

    function Setup() {
        recognizer = RecognizerSetup(SDK, SDK.RecognitionMode.Interactive, languageOptions, SDK.SpeechResultFormat[formatOptions.value], key);
    }

    function UpdateStatus(status) {
        statusDiv.innerHTML = status;
    }

    function UpdateRecognizedHypothesis(text) {
        hypothesisDiv.innerHTML = text;
    }

    function OnSpeechEndDetected() {
        stopBtn.disabled = true;
    }

    function UpdateRecognizedPhrase(json) {
        phraseDiv.innerHTML = JSON.parse(json)["DisplayText"];
    }

    function OnComplete() {
        startBtn.disabled = false;
        stopBtn.disabled = true;
    }
</script>
<script>
    cmanPosGet();
</script>

</body>
</html>
