<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Team そうだい</title>

    <!-- CSS files -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/swipebox.css' %}" type="text/css">
    <!-- //CSS files -->
    <link href="{% static 'library/leaflet-0.7.3/leaflet.css' %}" rel="stylesheet"/>
    <style>
        html, body {
            height: 100%;
            padding: 0;
            margin: 0;
        }

        #map {
            z-index: 0;
            height: 100%;
        }
    </style>
    <link href="{% static 'library/leaflet-0.7.3/leaflet.css' %}" rel="stylesheet"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
</head>
<body>
<!-- navigation -->
<div class="top-nav">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><span class="jw3ls-logo">R</span>inkan</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-center cl-effect-15">
                    <li><a href="{% url 'main_page' %}">調査記録</a></li>
                    <li><a href="{% url 'statistic_page' %}">調査状況</a></li>
                    <li><a href="{% url 'map_page' %}">調査状況MAP</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
    </nav>
</div>
<!-- navigation -->
<div id="map"></div>
<!-- Bootstrap core JavaScript -->
<script src="{% static 'library/leaflet-0.7.3/leaflet.js' %}"></script>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
<script>
    $.getJSON("{% url 'location_json' %}", function (data) {
        data.forEach(function (d) {
            d = d['fields'];
            L.marker([d.latitude, d.longitude])
                    .bindPopup("<p>樹種: " + d.tree_species + "<br>直径: " + d.diameter + "<br>" + d.created_at + "</p>")
                    .addTo(map)
                    .openPopup();
        });
    })
</script>
<!-- script-for sticky-nav -->
<script>
    $(document).ready(function () {
        var navoffeset = $(".top-nav").offset().top;
        $(window).scroll(function () {
            var scrollpos = $(window).scrollTop();
            if (scrollpos >= navoffeset) {
                $(".top-nav").addClass("fixed");
            } else {
                $(".top-nav").removeClass("fixed");
            }
        });

    });
</script>
<!-- start-smooth-scrolling -->
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".scroll").click(function(event){
            event.preventDefault();

            $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
    });
</script>

<!-- start-smooth-scrolling -->
<script type="text/javascript">
    $(document).ready(function () {
        $('#horizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true   // 100% fit in a container
        });
    });
</script>
<!-- //end-smooth-scrolling -->
<script type="text/javascript" src="{% static 'js/easyResponsiveTabs.js' %}"></script>
</body>
</html>
