{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Test{% endblock title %}
{% block extrahead %}
{% endblock %}

{% block content %}
    <!-- about -->
    <div class="special">
        <div class="container">
            <h3 class="w3l-title">調査経過</h3>
            <p>  直近で記録した情報を表示しており、間違いや必要のない情報をその場で削除することができます</p>
            <div class="col-md-5 special-wthreegrids">
                <div class="table-responsive">
                    <table class="table table-sm">
                        <thead>
                        <tr>
                            <th>樹種</th>
                            <th>直径</th>
                            <th>記録時間</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for record in records %}
                            <tr>
                                <td>{{ record.tree_species }}</td>
                                <td>{{ record.diameter }}</td>
                                <td>{{ record.created_at }}</td>
                                <td><a href="{% url 'delete_record' %}?id={{ record.id }}">削除</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <!-- /#page-content-wrapper -->

                </div>
                <!-- /#wrapper -->
            </div>
        </div>
    </div>
{% endblock %}
